log/*
test/*
config/database.yml
config/config.yml
config/newrelic.yml
config/redis.yml
public/system/*
public/stylesheets/*.css
public/assets/
tmp/
*#
.sass-cache/
.bundle
public/*/active_scaffold/
public/blank.html
*_flymake.rb
foo.rake
.rvmrc